* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background-color: #121212;
    line-height: 1.6;
}


header, section.smiles {
    background: url(./images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 50px 20px;
}